.background {
    background-color: #e5e3e1;
    width: 1012px;
    margin-top: 30px;
    height: calc(100vh - 100%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .table {
    margin-right: 10px;
  }
  
  .buttonStyle {
    margin-left: 40px;
  }

  .forms {
    background-color: #e5e3e1;
  }

  .modal-button-container {
    height: 55px ;
    padding: 5px 25px;
  }

  .modal-button{
    width: 125px;
  }

  .date-margin {
    margin-right: -20px;
  }

  .svgConfig {
    height: 30px;
    width: 30px;
  }

  .backButtonBg {
    background-color: #e5e3e1;
  }

  .titulo{
    height: 35px;
  } 
  .dateCol {
    padding-right: 15px;
    margin-right: 120px;
  }

.del-img{
  background-color: white;
}