.background {
    background-color: #e5e3e1;
    width: 1024px;
    margin-top: 100px;
    height: calc(100vh - 100%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .table {
    margin-right: 10px;
  }
  
  .buttonStyle {
    margin-left: 40px;
  }

  .forms {
    margin-top: 20px;
    width: 1000px;
    height: 200px;
    padding: 20px;
  }
  
  .background-form {
    background-color: #e5e3e1;
    margin-left: 162px;
    margin-right: 162px;

  }

  .form-save-button {
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .date-margin {
    margin-right: -20px;
  }